
.container{
    margin:4.5rem auto 0;
    padding: 1.5rem 1rem;

    background-color: white;
    border: 1px solid gray;
    border-radius:0.5rem;
    width:20rem;
    display:flex;
    flex-direction:column;

    font-size:medium;
    gap:1rem;

}