

.profile_pic{
    position: relative;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile_pic img{
    height:inherit
}

.modal_card{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.modal_card p{
    padding: 0;
    margin: 0;
}

